@font-face {
  font-family: "Mont-Heavy";
  src: url("../public/fonts/Mont-Heavy.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Verdana", sans-serif;
}

h1 {
  font-family: "Mont-Heavy", sans-serif;
}
