/* width (epaisseur scrollbar)*/
.tweetsContainer::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
.tweetsContainer::-webkit-scrollbar-thumb {
  background:transparent;
  border-radius: 1px;
}

/* Handle on hover */
.tweetsContainer::-webkit-scrollbar-thumb:hover {
  background:transparent;
}

/* width (epaisseur scrollbar)*/
.textarea::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
.textarea::-webkit-scrollbar-thumb {
  background:transparent;
  border-radius: 1px;
}

/* Handle on hover */
.textarea::-webkit-scrollbar-thumb:hover {
  background:transparent;
}


.container{
  background-color:#151D27;
  grid-template-columns: repeat(20, 1fr);
  display: grid;
  height: 100vh;
  width: 100vw;
}

.leftContainer{
  grid-column-start: 1;
  grid-column-end: 6;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.logo{
  margin-top: 20px;
  margin-left: 20px;
  height: 40px;
  width: 40px;
}


.centerContainer{
  border-left: 1px grey solid;
  border-right: 1px grey solid;
  display: flex;
  flex-direction: column;
  grid-column-start: 6;
  grid-column-end: 14;
  height: 100vh;
}

.tweetsContainer{
  height: 100vh;
  display:flex;
  flex-direction: column;
  overflow: auto;
  overflow-x:hidden
}

.rightContainer{
  grid-column-start: 14;
  grid-column-end: 21;
  display: flex;
  flex-direction:column;
  height: 100vh;
  width: 100%;
}

.HashtagsContainer{
  border-radius: 10px;
  background-color:#1B232C;
  width:90%;
}

.white{
  color:white;
}

.title{
  color:white;
  margin-left: 20px;
}

.center{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.tweetBtn{
  border-radius: 50px;
  border:none;
  text-align: center;
  color:white;
  background-color: #3690ED;
  height: 20px;
  width:50px;
  margin-left:20px;
  margin-right:20px;
}

.tweetBtn:hover{
  color: #3690ED;
  background-color:white;
  cursor: pointer;
}

.fieldData{
  display:flex;
  justify-content: end;
  align-items: center;
}

.textarea{
  background-color: #151D27;
  color:white;
  border-top:none;
  border-left: none;
  border-right:none;
  width: 80%;
  max-width:80%;
  max-height: 50px;
  min-width:80%;
  min-height: 50px ;
  overflow-y: hidden;
}

.grey{
  color:grey;
}

.hashtagsLink{
  cursor: pointer;
  color:white;
}
